@import '../../assets/sass/colors.scss';
.movieInfo {
    height: 100vh;
    .detail-container {
        border: thin solid red;
        display: flex;
        justify-content: space-around;
        .column {
            text-align: right;
        }
    }
    .link {
        color: $ligthest;
        text-decoration: none;
    }
    .poster img {
        z-index: 3;
    }
    @media (max-width: 720px) {
        background-repeat: no-repeat;
        background-size: cover;
        .infoBox {
            background-color: rgba(0, 0, 0, 0.5);
            margin: 2em;
            border-radius: 0.5em;
            display: flex;
            flex-direction: column;
        }
        .poster {
            width: 100% !important;
            img {
                width: 100%;
            }
        }
        .info {
            width: 100% !important;
            padding: 2em 0.5em;
            color: $ligth;
            h4 {
                margin-top: 0.3em;
                color: $ligth;
            }
        }
    }
    @media (max-width: 1980px) {
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 1em;
        .infoBox {
            background-color: rgba(0, 0, 0, 0.5);
            margin: 2em;
            border-radius: 0.5em;
            display: flex;
            justify-content: space-around;
        }
        .poster {
            width: 30%;
            img {
                width: 100%;
            }
        }
        .info {
            width: 65%;
            padding: 2em 0.5em;
            color: $ligth;
            h4 {
                margin-top: 0.3em;
                color: $ligth;
            }
        }
        .links {
            margin-top: 0.5em;
            .links-button {
                margin-top: 0.5em;
                display: inline-block;
                width: 100%;
            }
        }
    }
}