@import '../../assets/sass/colors.scss';
.footer {
    width: 100%;
    color: $dark;
    text-align: center;
    position: fixed;
    bottom: 0;
    height: 50px;
    background-color: $medium;
    display: inline-block;
    .footer-text {
        a {
            margin-left: 0.5em;
            color: $ligth;
            text-decoration: none;
        }
    }
}